@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 142.1 76.2% 36.3%;
        --primary-foreground: 355.7 100% 97.3%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 142.1 76.2% 36.3%;
        --radius: 0.5rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
    }

    .dark {
        --background: 20 14.3% 4.1%;
        --foreground: 0 0% 95%;
        --card: 24 9.8% 10%;
        --card-foreground: 0 0% 95%;
        --popover: 0 0% 9%;
        --popover-foreground: 0 0% 95%;
        --primary: 142.1 70.6% 45.3%;
        --primary-foreground: 144.9 80.4% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 15%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 142.4 71.8% 29.2%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
    /* html, */
    /* body {
        @apply text-ecoindex-green-950;
    } */
    h1 {
        @apply text-xl font-black text-ecoindex-green;
    }
    /* h2 {
        @apply text-lg font-medium text-ecoindex-green;
    } */
}

@layer components {
    .btn {
        @apply flex max-w-fit items-center gap-2 rounded-lg border border-transparent px-4 py-2 font-bold;
    }
    .btn-square {
        @apply max-w-fit rounded-lg border border-transparent p-2 font-bold;
    }
    .btn-green {
        @apply border bg-ecoindex-green-500 text-ecoindex-green-950 hover:bg-ecoindex-green-600 active:bg-ecoindex-green active:text-ecoindex-green-950 disabled:cursor-not-allowed disabled:border-transparent disabled:bg-ecoindex-green-100 disabled:text-ecoindex-green-400;
    }
    .btn-red {
        @apply border bg-ecoindex-red-500 text-ecoindex-red-950 hover:bg-ecoindex-red-600 active:bg-ecoindex-red active:text-ecoindex-red-950 disabled:cursor-not-allowed disabled:border-transparent disabled:bg-ecoindex-red-100 disabled:text-ecoindex-red-400;
    }
    .btn-green-outlined {
        @apply border border-ecoindex-green-600 bg-transparent text-ecoindex-green-600 hover:border-ecoindex-green hover:text-ecoindex-green active:border-ecoindex-green-800 active:text-ecoindex-green-800 disabled:cursor-not-allowed disabled:border-ecoindex-green-300 disabled:border-transparent disabled:text-ecoindex-green-300;
    }
    .btn-small {
        @apply px-2 py-1 text-sm;
    }
    .echo {
        @apply w-full border border-ecoindex-green-600 font-mono text-sm text-ecoindex-green-500;
    }
    .logo-ecoindex {
        @apply flex justify-center;
        & > span {
            @apply grid place-items-center px-[.5rem] py-[.1rem] text-3xl font-medium;
        }
    }
    .logo-ecoindex__eco {
        @apply bg-ecoindex-green text-white;
    }
    .logo-ecoindex__index {
        @apply bg-white text-ecoindex-green;
    }
    /* .tab {
        @apply -mb-[2px] grid max-w-fit place-items-center rounded-md rounded-b-none border-2 border-b-0 border-ecoindex-green-500 bg-ecoindex-green-500 px-4 py-2 font-bold leading-8 text-ecoindex-green-950 hover:border-ecoindex-green-600 hover:bg-ecoindex-green-600;
    }
    .tab.active {
        @apply border-ecoindex-green-500 bg-white text-ecoindex-green-600;
    } */
    /* .tab-content {
        @apply border-primary w-full flex-col items-center gap-4 border-2 p-4;
    } */
    #json-form {
        @apply grid w-full grid-cols-1 space-y-2;
        label {
            @apply font-bold text-primary dark:text-foreground;
            &:has(input) {
                @apply flex items-center gap-2;
            }
        }
        p {
            @apply mb-2 text-xs italic text-primary dark:text-foreground;
        }
        /* input[type='text'],
        textarea {
            @apply block w-full rounded-md border border-transparent bg-ecoindex-green-100 focus:border-ecoindex-green focus:bg-white focus:ring-0;
        } */
        input[type='checkbox'] {
            @apply rounded-md border border-primary p-2 checked:bg-primary/60;
        }
        .mandatory {
            @apply relative after:absolute after:-right-[.4rem] after:top-[.1rem] after:text-xs after:font-bold after:text-ecoindex-red-500 after:content-['*'];
        }
        fieldset {
            @apply flex flex-col gap-2 rounded-md border border-primary p-4;
            legend {
                @apply flex items-center gap-2 px-2 font-bold text-primary dark:text-foreground;
                &.mandatory {
                    @apply after:right-[.1rem] after:top-[.1rem];
                }
            }
            p {
                @apply mb-2 border-primary text-xs italic;
            }
            div {
                @apply flex items-center gap-2;
            }
            /* button {
                @apply flex items-center gap-2;
            } */
        }
    }
    .tooltip {
        position: relative;
        display: inline-block;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 140px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        top: 150%;
        left: 50%;
        margin-left: -100%;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip .tooltiptext::after {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #555 transparent;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
    p ul {
        @apply mb-4 ml-8 mt-2 list-disc;
    }
}
